.popup {
  text-align: center;
  padding: 40px;
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 300px;
  transition: width 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box-shadow for depth */
}

.score {
  font-size: 36px; /* Larger font size for impact */
  font-weight: bold;
  color: #3498db; /* Blue color for the score */
}

.red {
  color: #e74c3c; /* Red color */
}

.green {
  color: #2ecc71; /* Green color */
}

.orange {
  color: #e67e22; /* Orange color */
}

#reportButton {
  margin-top: 20px;
  padding: 10px;
  background-color: #3498db; /* Blue color for the button */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#commandBox {
  margin-top: 20px;
}

#commandInput {
  width: 100%;
  min-height: 60px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}

#submitCommand {
  margin-top: 10px;
  padding: 10px;
  background-color: #3498db; /* Blue color for the button */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.hidden {
  display: none;
}

#totalScoreContainer.report-mode {
  width: 400px;
}
